body div {
    border: 1px;
}
body ul {
    position: relative;
    top: auto; left: auto;
    z-index: 1;
}
.playground {
    z-index: 2;
    position: absolute;
    top: 500px; left: 500px;
    }
 .bouton img:nth-child(1) {
    z-index: 3;
     position: absolute;
     right: 41%; top: 0%;
 }
 .bouton img:nth-child(2) {
    z-index: 3;
     position: absolute;
     right: 41%; top: 100%;
 }
 .bouton img:nth-child(3) {
    z-index: 3;
     position: absolute;
     left: 0%; top: 0%;
 }
 .bouton img:nth-child(4) {
    z-index: 3;
     position: absolute;
     left: 0%; top: 100%;
 } 
 .playground:hover{
     transition-duration: 15s;
     top: 50px;
     left: 50px;
 }