
body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("https://i.pinimg.com/736x/97/a1/37/97a137d8d0f63b4bb82f7e1265180835.jpg");
    
    padding: 0px;
    margin: 0px;
    color: white;
    font-size: 140%;
}

a{
    text-decoration: none;
    color : white;
}

a:active{
    color: blue;
}

li{
    list-style: none;
}

nav{
    display: flex;
    background-color: #0d1645cc;
    height: 120px;
    justify-content: space-around;

    position: fixed;
    top: 0px;
    width: 100%;
    transition: 0.5s;
}

nav a:not(:nth-child(3)) {
    padding-top: 30px;
    color: grey;
}

nav a div:hover{
    transform:scale(1.05)
}

nav a div{
    display: inline;
    white-space: nowrap;
}

.button{
    display: block;
    background-color: white;
    padding: 20px;
    border-radius: 50px;
    width: 160px;
    text-align: center;
}

#Accueil{
    display: flex;
    justify-content: center;
    background-image: url("images/connexion-internet-planete-reseaux-dd83e6-0@1x.jpeg");
    background-size:100%;
    height:100vh;
}

#Accueil img {
    min-height: 150px;
    width: 80%;
    padding-top: 340px;
    padding-bottom: 340px;
}

h1{
    font-size: 300%;
    text-decoration: underline;
    margin-top: 300px;
}

h2{
    margin-top: 100px;
}

h2+p{
    margin-bottom: 100px;
}


/* PROPRIETES PROPRES A LA PAGE PRESENTATION */

#title {
    text-align: center;
}

#presentation{
    font-size: 35px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 200px;
}

#img, #activité, #secteur, #chiffre {
    width: 20em;
    height: 12em;
    margin: 3%;
}

#presentation {
    text-align: end;
}

#presentation h4{
    font-size: 40px;
    margin: 0px;
}

#chiffre img{
    width: 20em;
    height: 11em;
}

#presentation #direction{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#presentation #direction article{
    text-align: center;
    width: 10em;
    height: 20em;
}

#presentation #direction article img{
    width: 10em;
    height: 12em;
}

#presentation #direction article p{
    font-size: 20px;
    background-color:unset;
}

#presentation div ul {
    list-style: none;
    padding: 0px;
}

#presentation div ul .concurrent{
    width: 20em;
    margin-left: 0px;
}

#presentation #valeur-strat{
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 35px;
}

#presentation #valeur-strat article{
    width: 20em;
    height: 12em;
    margin-top: 100px;
    margin: 3%;
}

#presentation #valeur-strat article:first-child{
    text-align: end;
}

#presentation p{
    background-color: #2c6fa346;
    padding: 15px;
    border-radius: 5px;
    font-size: 30px;
}

div { 
    text-align:center;
    justify-self: auto;

}

article h2 {
    text-align: start;
}